
    <main>
      <div class="container">
        <div class="page-top">
          <div class="top flex">
            <div class="page-name">
              <a href="#" class="learn">
                <span class="material-icons"> keyboard_return </span> Go back
              </a>
              <h1>Search</h1>
            </div>
            <form class="search-bar s-active" method="GET">
              <input type="text" placeholder="Search" name="q" value="{{search_query}}"/>
              <button type="submit" class="animated-search">
                <i class="uil uil-search"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <section class="sp">
      <div class="container">
        <div class="grid">
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="../images/post.png" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="../images/author.svg" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="../images/post.png" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="../images/author.svg" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="../images/post.png" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="../images/author.svg" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="../images/post.png" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="../images/author.svg" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="../images/post.png" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="../images/author.svg" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="../images/post.png" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="../images/author.svg" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="../images/post.png" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="../images/author.svg" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="../images/post.png" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="../images/author.svg" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="../images/post.png" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="../images/author.svg" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
        </div>
      </div>
    </section>
